.banner
{    
    background-image: url("Virtual CV Project/resources/images/Banner Background.jpg"); 
    mask-image: linear-gradient(black, transparent);
    color: white;
    margin-top: 25px;
    text-align: center;
    padding: 10px 0;
}