.background
{
    background-color: #C2C8D2;
}

.banner
{    
    height: 130px;
    background-image: url(../images/CV\ Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f6f6;
    text-align: center;
    text-shadow: 3px 3px black;
    font-size: x-large;
    padding: 15px ;
}

.btn-group .button
{
    background-color: #C2C8D2;
    border: none;
    height: 50px;
    width: auto;
    color: #0d2f61;    
    padding: auto;
    margin-right: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 350ms;
    float: left;
}

.btn-group .button:hover
{
    background-color: #0d2f61;
    color: #f6f6f6;
}

.gridView
{
    margin-top: 15px;
    display: inline-grid;
    column-count: 2;
    column-gap: 35px;
}

.gridView .basicInfo
{
    border: #0d2f61 4px solid;
    margin-left: 15px;
    width: 500px;
    height: fit-content;
    grid-column: 1;
    grid-row: 1 / 5;    
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 4px 4px 8px black;
    background-color: #f6f6f6;
    padding-bottom: 20px;
}

.gridView .education
{
    border: #0d2f61 4px solid;
    width: 1000px;
    height: fit-content;
    grid-column: 2;
    grid-row: 1;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 4px 4px 8px black;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.gridView .skills
{
    border: #0d2f61 4px solid;
    width: 1000px;
    height: fit-content;
    grid-column: 2;
    grid-row: 2;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 4px 4px 8px black;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.gridView .additionalCourses
{
    border: #0d2f61 4px solid;
    width: 1000px;
    height: fit-content;
    grid-column: 2;
    grid-row: 3;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 4px 4px 8px black;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.gridView .workExperience
{
    border: #0d2f61 4px solid;
    width: 1000px;
    height: fit-content;
    grid-column: 2;
    grid-row: 4;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 4px 4px 8px black;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.gridView .references
{
    border: #0d2f61 4px solid;
    width: 1000px;
    height: fit-content;
    grid-column: 2;
    grid-row: 5;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 4px 4px 8px black;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}

.gridView .basicInfo .portrait
{
    background-image: url(../images/Portrait\ 2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: auto;
    margin-left: 110px;
    margin-right: 50px;
}

.footer
{
    height: 130px;
    background-image: url(../images/CV\ Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f6f6f6;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: x-large;
    padding: 15px ;
}